body{
    background-color: aliceblue;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    display: flex;
}
.block {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}
.pink{
    background-color: pink;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.wheat{
    background-color: wheat;
    color: black;
}
